@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background-color: #9dd1ff;
    --white: #fff;
    --primary: #48aaff;
    --secondary: #e1f1ff;
    --text:  #094067;
    --shadow-color: rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    --ff-text : 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--ff-text);
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 1rem;
}

.container {
    background-color: var(--white);
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 1.25rem var(--shadow-color);
    padding: 3.125rem 1.25rem;
    text-align: center;
    max-width: 100%;
    width: 50rem;
    color: var(--text);
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--primary);
    font-size: 2rem;
    font-weight: 700;
}

.anime__title {
    margin-top: 0;
}

.anime__character {
    margin-inline: auto;
    padding-bottom: 0.5rem;
    margin-bottom: 0rem;
}

.anime__quote {
    margin-top: 0.5rem;
}

.btn {
    background-color: var(--white);
    border: 1px solid var(--background-color);
    color: var(--primary);
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    transition: all 0.25s ease-in-out;
}

@media (hover: hover) {
    .btn:hover, .btn:focus {
        color: var(--primary);
        background-color: var(--secondary);
        transition: all 0.25s ease-in-out;
    }
}